table {
    border-collapse: collapse;
    width: 75%;}

.book_bg {
		background-color: blue;
}
.author_bg {
    background-color: green;
}

th {
    height: 35px;
    color: white;
}
td, table, th {
	border: 1px solid black;
}
.center_text {
	text-align: center;
}

.my-img {
	border: solid red;
	border-radius: 10px;
	}
.thumbnail {
	max-width: 85%;
}	
